<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858668215094-o85qjqgeg255t25otruoghk7jteaq9ko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858668215094-o85qjqgeg255t25otruoghk7jteaq9ko</string>
	<key>API_KEY</key>
	<string>AIzaSyBPrDlhd1cS7PwRqnMimO8lXfQ61FQSYlc</string>
	<key>GCM_SENDER_ID</key>
	<string>858668215094</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.benjiloya.TheFirstSM</string>
	<key>PROJECT_ID</key>
	<string>thefirstsmapp</string>
	<key>STORAGE_BUCKET</key>
	<string>thefirstsmapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858668215094:ios:68403ae0014ebbdf4f2197</string>
</dict>
</plist>